<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Account details</h2>
      <br>
      <br> ID: <%=  account._accountnumber %>
      <br> Email: <%=account.firstname%>
      <br> Given: <%=account.middlename%>
      <br> Family: <%=account.familyname%>
      <br> Street 1: <%=account.accounttype>
      <br> Street 2: <%=account.transactionid %>
      <br> City: <%=account.accountbalance %>
      <hr>

      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>